<h1>Mostrar Vacina</h1>

<ul>

  <li>
    <strong>Nome:</strong>
    <%= @vacine.nome %>
  </li>

  <li>
    <strong>Fabricante:</strong>
    <%= @vacine.fabricante %>
  </li>

  <li>
    <strong>Descricao:</strong>
    <%= @vacine.descricao %>
  </li>

</ul>

<span><%= link "Editar", to: Routes.vacine_path(@conn, :edit, @vacine) %></span>
<span><%= link "Voltar", to: Routes.vacine_path(@conn, :index) %></span>
