<h1>Editar vacinação</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.vacination_path(@conn, :update, @vacination)) %>

<span><%= link "Voltar", to: Routes.vacination_path(@conn, :index) %></span>
