<h1>Mostrar pessoa</h1>

<ul>

  <li>
    <strong>Nome:</strong>
    <%= @person.nome %>
  </li>

  <li>
    <strong>CPF:</strong>
    <%= @person.cpf %>
  </li>
  <div>
  <%= Enum.map @person.vacinas, fn vacina -> %>
  <li>
    <strong>Nome:</strong>
    <%= vacina.nome %>
  </li>
  <% end %>
  </div>

</ul>

<span><%= link "Editar", to: Routes.person_path(@conn, :edit, @person) %></span>
<span><%= link "Voltar", to: Routes.person_path(@conn, :index) %></span>
