<h1>Show Person</h1>

<ul>

  <li>
    <strong>Nome:</strong>
    <%= @person.nome %>
  </li>

  <li>
    <strong>Cpf:</strong>
    <%= @person.cpf %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.person_path(@conn, :edit, @person) %></span>
<span><%= link "Back", to: Routes.person_path(@conn, :index) %></span>
